# step-ca sensitive material
infrastructure/step-ca/secrets/
infrastructure/step-ca/db/
infrastructure/step-ca/password.txt

# private keys
*.key
*.p12
*.pfx

# env
.env
.env.*
infrastructure/wireguard/peer_api/peer_api.conf
infrastructure/wireguard/peer_api/privatekey-peer_api
infrastructure/wireguard/peer_backend/peer_backend.conf
infrastructure/wireguard/peer_backend/privatekey-peer_backend
infrastructure/wireguard/peer_frontend/peer_frontend.conf
infrastructure/wireguard/peer_frontend/privatekey-peer_frontend
infrastructure/wireguard/server/privatekey-server
infrastructure/wireguard/wg_confs/wg0.conf
